<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
        <title>My Todo App</title>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <h1>Things to do</h1>
        <ul>
            <li>
                <input type="checkbox">
                <a href="show.html"> Get A Victory Royale </a>
                <span class="pomodoro-estimate"> 1 pomodoro </span>
            </li>
            
            <li>
                <input type="checkbox">
                <a href="show.html"> Order Vbucks </a>
                <span class="pomodoro-estimate"> 1 pomodoro </span>
            </li>
            <li>
                <input type="checkbox">
                <a href="show.html"> Buy Skins</a>
                <span class="pomodoro-estimate"> 1 pomodoro </span>
            </li>
        <ul>
        <div id="new-todo-block">
            <input id="new-todo-description" type="text" placeholder="add a new todo...">
            <input id="new-pomodoro-estimate" type="number"placeholder="pomodoro estimte...">
            <input id="add-new-todo-button" type="submit" value="add todo">
        </div>
    </body>
</html>
